<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的周报管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的周报管理系统 报告状态表(repkwkwortstatuses)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_statusname_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态名称 ******************** pie_v2***/ init_echart("echart_repkwkwortstatuses_statusname_pie_v2",'repkwkwortstatuses.statusname_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_statusname_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态名称 ******************** pie_v1***/ init_echart("echart_repkwkwortstatuses_statusname_pie_v1",'repkwkwortstatuses.statusname_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_statusname_pie" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态名称 ******************** pie***/ init_echart("echart_repkwkwortstatuses_statusname_pie",'repkwkwortstatuses.statusname_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_statusname_line" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态名称 ******************** line***/ init_echart("echart_repkwkwortstatuses_statusname_line",'repkwkwortstatuses.statusname_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_statusname_bar" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态名称 ******************** bar***/ init_echart("echart_repkwkwortstatuses_statusname_bar",'repkwkwortstatuses.statusname_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_statusname_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态名称 ******************** bar_v1***/ init_echart("echart_repkwkwortstatuses_statusname_bar_v1",'repkwkwortstatuses.statusname_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_description_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态描述 ******************** pie_v2***/ init_echart("echart_repkwkwortstatuses_description_pie_v2",'repkwkwortstatuses.description_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_description_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态描述 ******************** pie_v1***/ init_echart("echart_repkwkwortstatuses_description_pie_v1",'repkwkwortstatuses.description_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_description_pie" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态描述 ******************** pie***/ init_echart("echart_repkwkwortstatuses_description_pie",'repkwkwortstatuses.description_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_description_line" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态描述 ******************** line***/ init_echart("echart_repkwkwortstatuses_description_line",'repkwkwortstatuses.description_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_description_bar" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态描述 ******************** bar***/ init_echart("echart_repkwkwortstatuses_description_bar",'repkwkwortstatuses.description_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_description_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 状态描述 ******************** bar_v1***/ init_echart("echart_repkwkwortstatuses_description_bar_v1",'repkwkwortstatuses.description_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_createdat_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 创建时间 ******************** pie_v2***/ init_echart("echart_repkwkwortstatuses_createdat_pie_v2",'repkwkwortstatuses.createdat_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_createdat_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 创建时间 ******************** pie_v1***/ init_echart("echart_repkwkwortstatuses_createdat_pie_v1",'repkwkwortstatuses.createdat_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_createdat_pie" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 创建时间 ******************** pie***/ init_echart("echart_repkwkwortstatuses_createdat_pie",'repkwkwortstatuses.createdat_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_createdat_line" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 创建时间 ******************** line***/ init_echart("echart_repkwkwortstatuses_createdat_line",'repkwkwortstatuses.createdat_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_createdat_bar" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 创建时间 ******************** bar***/ init_echart("echart_repkwkwortstatuses_createdat_bar",'repkwkwortstatuses.createdat_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_createdat_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 创建时间 ******************** bar_v1***/ init_echart("echart_repkwkwortstatuses_createdat_bar_v1",'repkwkwortstatuses.createdat_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_updatedat_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 更新时间 ******************** pie_v2***/ init_echart("echart_repkwkwortstatuses_updatedat_pie_v2",'repkwkwortstatuses.updatedat_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_updatedat_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 更新时间 ******************** pie_v1***/ init_echart("echart_repkwkwortstatuses_updatedat_pie_v1",'repkwkwortstatuses.updatedat_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_updatedat_pie" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 更新时间 ******************** pie***/ init_echart("echart_repkwkwortstatuses_updatedat_pie",'repkwkwortstatuses.updatedat_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_updatedat_line" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 更新时间 ******************** line***/ init_echart("echart_repkwkwortstatuses_updatedat_line",'repkwkwortstatuses.updatedat_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_updatedat_bar" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 更新时间 ******************** bar***/ init_echart("echart_repkwkwortstatuses_updatedat_bar",'repkwkwortstatuses.updatedat_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_updatedat_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 更新时间 ******************** bar_v1***/ init_echart("echart_repkwkwortstatuses_updatedat_bar_v1",'repkwkwortstatuses.updatedat_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>









<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_skwkwortorder_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 排序顺序 ******************** pie_v2***/ init_echart("echart_repkwkwortstatuses_skwkwortorder_pie_v2",'repkwkwortstatuses.skwkwortorder_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_skwkwortorder_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 排序顺序 ******************** pie_v1***/ init_echart("echart_repkwkwortstatuses_skwkwortorder_pie_v1",'repkwkwortstatuses.skwkwortorder_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_skwkwortorder_pie" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 排序顺序 ******************** pie***/ init_echart("echart_repkwkwortstatuses_skwkwortorder_pie",'repkwkwortstatuses.skwkwortorder_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_skwkwortorder_line" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 排序顺序 ******************** line***/ init_echart("echart_repkwkwortstatuses_skwkwortorder_line",'repkwkwortstatuses.skwkwortorder_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_skwkwortorder_bar" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 排序顺序 ******************** bar***/ init_echart("echart_repkwkwortstatuses_skwkwortorder_bar",'repkwkwortstatuses.skwkwortorder_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkwortstatuses_skwkwortorder_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 报告状态表 排序顺序 ******************** bar_v1***/ init_echart("echart_repkwkwortstatuses_skwkwortorder_bar_v1",'repkwkwortstatuses.skwkwortorder_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






    </div>
  </body>
</html>
