<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的周报管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的周报管理系统 周报模板表(weeklyrepkwkworttemplates)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_templatename_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板名称 ******************** pie_v2***/ init_echart("echart_weeklyrepkwkworttemplates_templatename_pie_v2",'weeklyrepkwkworttemplates.templatename_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_templatename_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板名称 ******************** pie_v1***/ init_echart("echart_weeklyrepkwkworttemplates_templatename_pie_v1",'weeklyrepkwkworttemplates.templatename_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_templatename_pie" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板名称 ******************** pie***/ init_echart("echart_weeklyrepkwkworttemplates_templatename_pie",'weeklyrepkwkworttemplates.templatename_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_templatename_line" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板名称 ******************** line***/ init_echart("echart_weeklyrepkwkworttemplates_templatename_line",'weeklyrepkwkworttemplates.templatename_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_templatename_bar" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板名称 ******************** bar***/ init_echart("echart_weeklyrepkwkworttemplates_templatename_bar",'weeklyrepkwkworttemplates.templatename_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_templatename_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板名称 ******************** bar_v1***/ init_echart("echart_weeklyrepkwkworttemplates_templatename_bar_v1",'weeklyrepkwkworttemplates.templatename_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_description_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板描述 ******************** pie_v2***/ init_echart("echart_weeklyrepkwkworttemplates_description_pie_v2",'weeklyrepkwkworttemplates.description_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_description_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板描述 ******************** pie_v1***/ init_echart("echart_weeklyrepkwkworttemplates_description_pie_v1",'weeklyrepkwkworttemplates.description_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_description_pie" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板描述 ******************** pie***/ init_echart("echart_weeklyrepkwkworttemplates_description_pie",'weeklyrepkwkworttemplates.description_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_description_line" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板描述 ******************** line***/ init_echart("echart_weeklyrepkwkworttemplates_description_line",'weeklyrepkwkworttemplates.description_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_description_bar" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板描述 ******************** bar***/ init_echart("echart_weeklyrepkwkworttemplates_description_bar",'weeklyrepkwkworttemplates.description_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_description_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 模板描述 ******************** bar_v1***/ init_echart("echart_weeklyrepkwkworttemplates_description_bar_v1",'weeklyrepkwkworttemplates.description_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creatkwkwor_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建者 ******************** pie_v2***/ init_echart("echart_weeklyrepkwkworttemplates_creatkwkwor_pie_v2",'weeklyrepkwkworttemplates.creatkwkwor_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creatkwkwor_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建者 ******************** pie_v1***/ init_echart("echart_weeklyrepkwkworttemplates_creatkwkwor_pie_v1",'weeklyrepkwkworttemplates.creatkwkwor_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creatkwkwor_pie" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建者 ******************** pie***/ init_echart("echart_weeklyrepkwkworttemplates_creatkwkwor_pie",'weeklyrepkwkworttemplates.creatkwkwor_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creatkwkwor_line" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建者 ******************** line***/ init_echart("echart_weeklyrepkwkworttemplates_creatkwkwor_line",'weeklyrepkwkworttemplates.creatkwkwor_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creatkwkwor_bar" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建者 ******************** bar***/ init_echart("echart_weeklyrepkwkworttemplates_creatkwkwor_bar",'weeklyrepkwkworttemplates.creatkwkwor_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creatkwkwor_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建者 ******************** bar_v1***/ init_echart("echart_weeklyrepkwkworttemplates_creatkwkwor_bar_v1",'weeklyrepkwkworttemplates.creatkwkwor_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creationdate_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建日期 ******************** pie_v2***/ init_echart("echart_weeklyrepkwkworttemplates_creationdate_pie_v2",'weeklyrepkwkworttemplates.creationdate_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creationdate_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建日期 ******************** pie_v1***/ init_echart("echart_weeklyrepkwkworttemplates_creationdate_pie_v1",'weeklyrepkwkworttemplates.creationdate_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creationdate_pie" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建日期 ******************** pie***/ init_echart("echart_weeklyrepkwkworttemplates_creationdate_pie",'weeklyrepkwkworttemplates.creationdate_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creationdate_line" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建日期 ******************** line***/ init_echart("echart_weeklyrepkwkworttemplates_creationdate_line",'weeklyrepkwkworttemplates.creationdate_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creationdate_bar" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建日期 ******************** bar***/ init_echart("echart_weeklyrepkwkworttemplates_creationdate_bar",'weeklyrepkwkworttemplates.creationdate_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_creationdate_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 创建日期 ******************** bar_v1***/ init_echart("echart_weeklyrepkwkworttemplates_creationdate_bar_v1",'weeklyrepkwkworttemplates.creationdate_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改者 ******************** pie_v2***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_pie_v2",'weeklyrepkwkworttemplates.lkwkwastmodkwkwifier_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改者 ******************** pie_v1***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_pie_v1",'weeklyrepkwkworttemplates.lkwkwastmodkwkwifier_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_pie" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改者 ******************** pie***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_pie",'weeklyrepkwkworttemplates.lkwkwastmodkwkwifier_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_line" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改者 ******************** line***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_line",'weeklyrepkwkworttemplates.lkwkwastmodkwkwifier_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_bar" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改者 ******************** bar***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_bar",'weeklyrepkwkworttemplates.lkwkwastmodkwkwifier_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改者 ******************** bar_v1***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwifier_bar_v1",'weeklyrepkwkworttemplates.lkwkwastmodkwkwifier_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改日期 ******************** pie_v2***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_pie_v2",'weeklyrepkwkworttemplates.lkwkwastmodkwkwificationdate_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改日期 ******************** pie_v1***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_pie_v1",'weeklyrepkwkworttemplates.lkwkwastmodkwkwificationdate_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_pie" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改日期 ******************** pie***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_pie",'weeklyrepkwkworttemplates.lkwkwastmodkwkwificationdate_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_line" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改日期 ******************** line***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_line",'weeklyrepkwkworttemplates.lkwkwastmodkwkwificationdate_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_bar" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改日期 ******************** bar***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_bar",'weeklyrepkwkworttemplates.lkwkwastmodkwkwificationdate_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 周报模板表 最后修改日期 ******************** bar_v1***/ init_echart("echart_weeklyrepkwkworttemplates_lkwkwastmodkwkwificationdate_bar_v1",'weeklyrepkwkworttemplates.lkwkwastmodkwkwificationdate_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>









    </div>
  </body>
</html>
