<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的周报管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的周报管理系统 员工周报关联表(employeeweeklyrepkwkwortrelations)</h3>
        </div>
      </div>
      {% csrf_token %}











<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekstartdate_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报开始日期 ******************** pie_v2***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekstartdate_pie_v2",'employeeweeklyrepkwkwortrelations.weekstartdate_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekstartdate_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报开始日期 ******************** pie_v1***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekstartdate_pie_v1",'employeeweeklyrepkwkwortrelations.weekstartdate_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekstartdate_pie" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报开始日期 ******************** pie***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekstartdate_pie",'employeeweeklyrepkwkwortrelations.weekstartdate_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekstartdate_line" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报开始日期 ******************** line***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekstartdate_line",'employeeweeklyrepkwkwortrelations.weekstartdate_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekstartdate_bar" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报开始日期 ******************** bar***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekstartdate_bar",'employeeweeklyrepkwkwortrelations.weekstartdate_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekstartdate_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报开始日期 ******************** bar_v1***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekstartdate_bar_v1",'employeeweeklyrepkwkwortrelations.weekstartdate_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekenddate_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报结束日期 ******************** pie_v2***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekenddate_pie_v2",'employeeweeklyrepkwkwortrelations.weekenddate_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekenddate_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报结束日期 ******************** pie_v1***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekenddate_pie_v1",'employeeweeklyrepkwkwortrelations.weekenddate_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekenddate_pie" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报结束日期 ******************** pie***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekenddate_pie",'employeeweeklyrepkwkwortrelations.weekenddate_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekenddate_line" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报结束日期 ******************** line***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekenddate_line",'employeeweeklyrepkwkwortrelations.weekenddate_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekenddate_bar" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报结束日期 ******************** bar***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekenddate_bar",'employeeweeklyrepkwkwortrelations.weekenddate_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_weekenddate_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 周报结束日期 ******************** bar_v1***/ init_echart("echart_employeeweeklyrepkwkwortrelations_weekenddate_bar_v1",'employeeweeklyrepkwkwortrelations.weekenddate_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 状态如已提交、待审核、已审核等 ******************** pie_v2***/ init_echart("echart_employeeweeklyrepkwkwortrelations_status_pie_v2",'employeeweeklyrepkwkwortrelations.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 状态如已提交、待审核、已审核等 ******************** pie_v1***/ init_echart("echart_employeeweeklyrepkwkwortrelations_status_pie_v1",'employeeweeklyrepkwkwortrelations.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_status_pie" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 状态如已提交、待审核、已审核等 ******************** pie***/ init_echart("echart_employeeweeklyrepkwkwortrelations_status_pie",'employeeweeklyrepkwkwortrelations.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_status_line" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 状态如已提交、待审核、已审核等 ******************** line***/ init_echart("echart_employeeweeklyrepkwkwortrelations_status_line",'employeeweeklyrepkwkwortrelations.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_status_bar" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 状态如已提交、待审核、已审核等 ******************** bar***/ init_echart("echart_employeeweeklyrepkwkwortrelations_status_bar",'employeeweeklyrepkwkwortrelations.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 状态如已提交、待审核、已审核等 ******************** bar_v1***/ init_echart("echart_employeeweeklyrepkwkwortrelations_status_bar_v1",'employeeweeklyrepkwkwortrelations.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_submittime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 提交时间 ******************** pie_v2***/ init_echart("echart_employeeweeklyrepkwkwortrelations_submittime_pie_v2",'employeeweeklyrepkwkwortrelations.submittime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_submittime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 提交时间 ******************** pie_v1***/ init_echart("echart_employeeweeklyrepkwkwortrelations_submittime_pie_v1",'employeeweeklyrepkwkwortrelations.submittime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_submittime_pie" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 提交时间 ******************** pie***/ init_echart("echart_employeeweeklyrepkwkwortrelations_submittime_pie",'employeeweeklyrepkwkwortrelations.submittime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_submittime_line" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 提交时间 ******************** line***/ init_echart("echart_employeeweeklyrepkwkwortrelations_submittime_line",'employeeweeklyrepkwkwortrelations.submittime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_submittime_bar" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 提交时间 ******************** bar***/ init_echart("echart_employeeweeklyrepkwkwortrelations_submittime_bar",'employeeweeklyrepkwkwortrelations.submittime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_submittime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 提交时间 ******************** bar_v1***/ init_echart("echart_employeeweeklyrepkwkwortrelations_submittime_bar_v1",'employeeweeklyrepkwkwortrelations.submittime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_reviewtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 审核时间 ******************** pie_v2***/ init_echart("echart_employeeweeklyrepkwkwortrelations_reviewtime_pie_v2",'employeeweeklyrepkwkwortrelations.reviewtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_reviewtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 审核时间 ******************** pie_v1***/ init_echart("echart_employeeweeklyrepkwkwortrelations_reviewtime_pie_v1",'employeeweeklyrepkwkwortrelations.reviewtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_reviewtime_pie" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 审核时间 ******************** pie***/ init_echart("echart_employeeweeklyrepkwkwortrelations_reviewtime_pie",'employeeweeklyrepkwkwortrelations.reviewtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_reviewtime_line" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 审核时间 ******************** line***/ init_echart("echart_employeeweeklyrepkwkwortrelations_reviewtime_line",'employeeweeklyrepkwkwortrelations.reviewtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_reviewtime_bar" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 审核时间 ******************** bar***/ init_echart("echart_employeeweeklyrepkwkwortrelations_reviewtime_bar",'employeeweeklyrepkwkwortrelations.reviewtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_employeeweeklyrepkwkwortrelations_reviewtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 员工周报关联表 审核时间 ******************** bar_v1***/ init_echart("echart_employeeweeklyrepkwkwortrelations_reviewtime_bar_v1",'employeeweeklyrepkwkwortrelations.reviewtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
