<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的周报管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的周报管理系统 报告类型表(repkwkworttypes)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_repkwkworttypename_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 报告类型名称 ******************** pie_v2***/ init_echart("echart_repkwkworttypes_repkwkworttypename_pie_v2",'repkwkworttypes.repkwkworttypename_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_repkwkworttypename_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 报告类型名称 ******************** pie_v1***/ init_echart("echart_repkwkworttypes_repkwkworttypename_pie_v1",'repkwkworttypes.repkwkworttypename_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_repkwkworttypename_pie" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 报告类型名称 ******************** pie***/ init_echart("echart_repkwkworttypes_repkwkworttypename_pie",'repkwkworttypes.repkwkworttypename_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_repkwkworttypes_repkwkworttypename_line" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 报告类型名称 ******************** line***/ init_echart("echart_repkwkworttypes_repkwkworttypename_line",'repkwkworttypes.repkwkworttypename_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkworttypes_repkwkworttypename_bar" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 报告类型名称 ******************** bar***/ init_echart("echart_repkwkworttypes_repkwkworttypename_bar",'repkwkworttypes.repkwkworttypename_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkworttypes_repkwkworttypename_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 报告类型名称 ******************** bar_v1***/ init_echart("echart_repkwkworttypes_repkwkworttypename_bar_v1",'repkwkworttypes.repkwkworttypename_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_description_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 描述 ******************** pie_v2***/ init_echart("echart_repkwkworttypes_description_pie_v2",'repkwkworttypes.description_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_description_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 描述 ******************** pie_v1***/ init_echart("echart_repkwkworttypes_description_pie_v1",'repkwkworttypes.description_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_description_pie" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 描述 ******************** pie***/ init_echart("echart_repkwkworttypes_description_pie",'repkwkworttypes.description_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_repkwkworttypes_description_line" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 描述 ******************** line***/ init_echart("echart_repkwkworttypes_description_line",'repkwkworttypes.description_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkworttypes_description_bar" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 描述 ******************** bar***/ init_echart("echart_repkwkworttypes_description_bar",'repkwkworttypes.description_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkworttypes_description_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 描述 ******************** bar_v1***/ init_echart("echart_repkwkworttypes_description_bar_v1",'repkwkworttypes.description_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_createddate_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 创建日期 ******************** pie_v2***/ init_echart("echart_repkwkworttypes_createddate_pie_v2",'repkwkworttypes.createddate_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_createddate_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 创建日期 ******************** pie_v1***/ init_echart("echart_repkwkworttypes_createddate_pie_v1",'repkwkworttypes.createddate_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_createddate_pie" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 创建日期 ******************** pie***/ init_echart("echart_repkwkworttypes_createddate_pie",'repkwkworttypes.createddate_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_repkwkworttypes_createddate_line" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 创建日期 ******************** line***/ init_echart("echart_repkwkworttypes_createddate_line",'repkwkworttypes.createddate_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkworttypes_createddate_bar" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 创建日期 ******************** bar***/ init_echart("echart_repkwkworttypes_createddate_bar",'repkwkworttypes.createddate_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkworttypes_createddate_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 创建日期 ******************** bar_v1***/ init_echart("echart_repkwkworttypes_createddate_bar_v1",'repkwkworttypes.createddate_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_modkwkwifieddate_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 修改日期 ******************** pie_v2***/ init_echart("echart_repkwkworttypes_modkwkwifieddate_pie_v2",'repkwkworttypes.modkwkwifieddate_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_modkwkwifieddate_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 修改日期 ******************** pie_v1***/ init_echart("echart_repkwkworttypes_modkwkwifieddate_pie_v1",'repkwkworttypes.modkwkwifieddate_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_repkwkworttypes_modkwkwifieddate_pie" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 修改日期 ******************** pie***/ init_echart("echart_repkwkworttypes_modkwkwifieddate_pie",'repkwkworttypes.modkwkwifieddate_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_repkwkworttypes_modkwkwifieddate_line" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 修改日期 ******************** line***/ init_echart("echart_repkwkworttypes_modkwkwifieddate_line",'repkwkworttypes.modkwkwifieddate_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkworttypes_modkwkwifieddate_bar" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 修改日期 ******************** bar***/ init_echart("echart_repkwkworttypes_modkwkwifieddate_bar",'repkwkworttypes.modkwkwifieddate_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_repkwkworttypes_modkwkwifieddate_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 报告类型表 修改日期 ******************** bar_v1***/ init_echart("echart_repkwkworttypes_modkwkwifieddate_bar_v1",'repkwkworttypes.modkwkwifieddate_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>









    </div>
  </body>
</html>
