{% extends '../tp.html' %}

{% block title %}
评论回复表
{% endblock %}

{% block body %}
  <div class="my-container-margin">
    <div class="divider"></div>
    {% csrf_token %}
    <div class="section">
      <h4>评论回复表</h4>
      <div>
        <div class="row">
          
          {% if has_add %}
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalinsert" class="waves-effect waves-light btn">添加</button>
          {% endif %}
          <div class="divider"></div>
        
        
          
<div class="col-sm-10">
</div>
<div class="col-sm-2">
<a href="/config_visual/bi_tpcommentreplies" target="_blank" class="waves-effect waves-light btn">
统计分析
</a>
</div>
        </div>  
        <div class="section">
          {% if record %}
            <h3>Empty Data</h3>
          {% else %}
          
<div class="row">
<form action="" method="get">




<div class="form-group">
<label for="commentid">评论ID关联字段指向评论的ID(commentid)</label>
<select name="commentid_search" id="commentid_search">
<option value="">未选择</option>
{% for record in data_mc_repkwkwortcomments_55438 %}
<option value="{{record.value}}">
<p>{{record.value}}:{{record.label }}</p>
</option>
{% endfor %}
</select>
</div>



<div class="form-group">
<label for="userid">用户ID关联字段指向用户的ID(userid)</label>
<select name="userid_search" id="userid_search">
<option value="">未选择</option>
{% for record in data_mc_users_55439 %}
<option value="{{record.value}}">
<p>{{record.value}}:{{record.label }}</p>
</option>
{% endfor %}
</select>
</div>













<div class="form-group">
<label for="replytoid">回复的回复ID用于构建回复链关联字段指向本的ID(replytoid)</label>
<select name="replytoid_search" id="replytoid_search">
<option value="">未选择</option>
{% for record in data_mc_commentreplies_55445 %}
<option value="{{record.value}}">
<p>{{record.value}}:{{record.label }}</p>
</option>
{% endfor %}
</select>
</div>


<div class="col-sm-2">
<button type="submit" class="btn btn-primary" >
<i class="fas fa-search">搜索</i>
</button>
<a type="reset" class="btn btn-default" href="/config_busi/commentreplies">
<i class="fas fa-eraser">重置</i>
</a>
</div>
</form>

          </div>
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  
{% if mcauthfield_id.mcauthview %}
<td>
回复ID
</td>
{% endif %}

{% if mcauthfield_commentid.mcauthview %}
<td>
评论ID关联字段指向评论的ID
</td>
{% endif %}

{% if mcauthfield_userid.mcauthview %}
<td>
用户ID关联字段指向用户的ID
</td>
{% endif %}

{% if mcauthfield_content.mcauthview %}
<td>
回复内容
</td>
{% endif %}

{% if mcauthfield_createdat.mcauthview %}
<td>
创建时间
</td>
{% endif %}

{% if mcauthfield_updatedat.mcauthview %}
<td>
更新时间
</td>
{% endif %}

{% if mcauthfield_kwkwiskwkwdeleted.mcauthview %}
<td>
是否删除逻辑删除标记
</td>
{% endif %}

{% if mcauthfield_likecount.mcauthview %}
<td>
点赞数
</td>
{% endif %}

{% if mcauthfield_replytoid.mcauthview %}
<td>
回复的回复ID用于构建回复链关联字段指向本的ID
</td>
{% endif %}
<th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records %}
                  <tr>
                    
 {% if mcauthfield_id.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.id}}">
{{record.id}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_commentid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.commentid}}">
{{record.commentid}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_userid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.userid}}">
{{record.userid}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_content.mcauthview %}
<td class="text-nowrap-cell">

{% if record.content %}
{{record.content.name}}
<p title="{{record.content}}">
{{record.content|truncatechars:20}}
</p>
{% endif %}

</td>
{% endif %}
 
 {% if mcauthfield_createdat.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.createdat}}">
{{record.createdat}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_updatedat.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.updatedat}}">
{{record.updatedat}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_kwkwiskwkwdeleted.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.kwkwiskwkwdeleted}}">
{{record.kwkwiskwkwdeleted}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_likecount.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.likecount}}">
{{record.likecount}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_replytoid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.replytoid}}">
{{record.replytoid}}
</p>

</td>
{% endif %}
 <td>
                      {% if has_upd %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalupdate">修改</button>
                      {% endif %}
                      {% if has_del %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalremove">删除</button>
                      {% endif %}
                      {% if has_view %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalpreview">查看</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block modal %}
  <!-- Modal Structure -->

  {% if has_add %}
    <div id="modalinsert" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">
              <h4>添加</h4>
            </div>
          </div>
          <div class="modal-body">
            <div class="">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="add" hidden />{% csrf_token %}<div class="">
        {% if mcauthfield_id.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="id" class="form-label form-group">回复ID</label>

</div>
        {% endif %}

        {% if mcauthfield_commentid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="commentid" class="form-label form-group">评论ID关联字段指向评论的ID</label>

<select class="form-select form-select-lg mb-3" name="commentid" id="commentid" {% if not mcauthfield_commentid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_repkwkwortcomments_55438 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}

        {% if mcauthfield_userid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="userid" class="form-label form-group">用户ID关联字段指向用户的ID</label>

<select class="form-select form-select-lg mb-3" name="userid" id="userid" {% if not mcauthfield_userid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_users_55439 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}

        {% if mcauthfield_content.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="content" class="form-label form-group">回复内容</label>

<textarea class="form-control form-control-lg" name="content" id="content" {% if not mcauthfield_content.mcisblank %}required {% endif %}data-name="insert"></textarea>

</div>
        {% endif %}

        {% if mcauthfield_createdat.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="createdat" class="form-label form-group">创建时间</label>

</div>
        {% endif %}

        {% if mcauthfield_updatedat.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="updatedat" class="form-label form-group">更新时间</label>

</div>
        {% endif %}

        {% if mcauthfield_kwkwiskwkwdeleted.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="kwkwiskwkwdeleted" class="form-label form-group">是否删除逻辑删除标记</label>

<select class="form-select form-select-lg mb-3" name="kwkwiskwkwdeleted" id="kwkwiskwkwdeleted" {% if not mcauthfield_kwkwiskwkwdeleted.mcisblank %}required {% endif %} data-name="insert">
<option value="True" selected >是</option>
<option value="False">否</option>
</select>

</div>
        {% endif %}

        {% if mcauthfield_likecount.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="likecount" class="form-label form-group">点赞数</label>

<input type="text" class="form-control form-control-lg" name="likecount" id="likecount"{% if not mcauthfield_likecount.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_replytoid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="replytoid" class="form-label form-group">回复的回复ID用于构建回复链关联字段指向本的ID</label>

<select class="form-select form-select-lg mb-3" name="replytoid" id="replytoid" {% if not mcauthfield_replytoid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_commentreplies_55445 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}
</div>
                <div class="modal-footer">
                  <button type="submit" class="modal-action modal-close btn-primary btn waves-effect waves-light">提交</button>
                  <button type="reset" class="modal-action modal-close btn-default btn waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_upd %}
    <div id="modalupdate" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">修改</div>
          </div>
          <div class="modal-body">
            <div class="">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="upd" hidden />{% csrf_token %}<input type="text" name="_id_upd" value="" data-name="update_id" hidden />
                <div class="">
           {% if mcauthfield_id.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="id_upd"
class="form-label form-group">
回复ID(id)
</label>

</div>
        {% endif %}

           {% if mcauthfield_commentid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="commentid_upd"
class="form-label form-group">
评论ID关联字段指向评论的ID(commentid)
</label>

<select class="form-select form-select-lg mb-3" name="commentid"
id="commentid_upd"
{% if not mcauthfield_commentid.mcisblank %}
required
{% endif %}
{% if not mcauthfield_commentid.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="">未选择</option>
{% for record in data_mc_repkwkwortcomments_55438 %}

<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>

{% endfor %}
</select>

</div>
        {% endif %}

           {% if mcauthfield_userid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="userid_upd"
class="form-label form-group">
用户ID关联字段指向用户的ID(userid)
</label>

<select class="form-select form-select-lg mb-3" name="userid"
id="userid_upd"
{% if not mcauthfield_userid.mcisblank %}
required
{% endif %}
{% if not mcauthfield_userid.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="">未选择</option>
{% for record in data_mc_users_55439 %}

<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>

{% endfor %}
</select>

</div>
        {% endif %}

           {% if mcauthfield_content.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="content_upd"
class="form-label form-group">
回复内容(content)
</label>

<textarea type="text" class="validate form-control form-control-lg"
name="content"
id="content_upd"
placeholder="回复内容"
{% if not mcauthfield_content.mcisblank %}
required
{% endif %}
{% if not mcauthfield_content.mcauthchange %}
readonly
{% endif %}
data-name="update"></textarea>

</div>
        {% endif %}

           {% if mcauthfield_createdat.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="createdat_upd"
class="form-label form-group">
创建时间(createdat)
</label>

</div>
        {% endif %}

           {% if mcauthfield_updatedat.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="updatedat_upd"
class="form-label form-group">
更新时间(updatedat)
</label>

</div>
        {% endif %}

           {% if mcauthfield_kwkwiskwkwdeleted.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="kwkwiskwkwdeleted_upd"
class="form-label form-group">
是否删除逻辑删除标记(kwkwiskwkwdeleted)
</label>

<select class="form-select form-select-lg mb-3" name="kwkwiskwkwdeleted"
id="kwkwiskwkwdeleted_upd"
{% if not mcauthfield_kwkwiskwkwdeleted.mcisblank %}
required
{% endif %}
{% if not mcauthfield_kwkwiskwkwdeleted.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="True" selected>是</option>
<option value="False">否</option>
</select>

</div>
        {% endif %}

           {% if mcauthfield_likecount.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="likecount_upd"
class="form-label form-group">
点赞数(likecount)
</label>

<input type="text" class="validate form-control form-control-lg"
name="likecount"
id="likecount_upd"
placeholder="点赞数"
{% if not mcauthfield_likecount.mcisblank %}
required
{% endif %}
{% if not mcauthfield_likecount.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_replytoid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="replytoid_upd"
class="form-label form-group">
回复的回复ID用于构建回复链关联字段指向本的ID(replytoid)
</label>

<select class="form-select form-select-lg mb-3" name="replytoid"
id="replytoid_upd"
{% if not mcauthfield_replytoid.mcisblank %}
required
{% endif %}
{% if not mcauthfield_replytoid.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="">未选择</option>
{% for record in data_mc_commentreplies_55445 %}

<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>

{% endfor %}
</select>

</div>
        {% endif %}
</div>
                <div class="modal-footer">
                  <button type="submit" class="btn modal-action modal-close btn-primary waves-effect waves-light">提交</button>
                  <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_del %}
    <div id="modalremove" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">删除</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>确认删除这条记录吗?</p>
          </div>
          <div class="modal-footer">
            <div class="row">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="del" hidden />{% csrf_token %}<input type="text" name="_id" value="" data-name="remove" hidden />

                <div class="modal-footer">
                  <button type="submit" class="btn modal-action modal-close btn-primary waves-effect waves-light">确认</button>
                  <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_view %}
    <div id="modalpreview" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <h4>预览</h4>
          <div class="">
            
{% if mcauthfield_id.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">回复ID</p>

<p id="id_view">
{{record.id|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_commentid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">评论ID关联字段指向评论的ID</p>

<p id="commentid_view">
{{record.commentid|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_userid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">用户ID关联字段指向用户的ID</p>

<p id="userid_view">
{{record.userid|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_content.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">回复内容</p>

<p id="content_view">
{{record.content|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_createdat.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">创建时间</p>

<p id="createdat_view">
{{record.createdat|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_updatedat.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">更新时间</p>

<p id="updatedat_view">
{{record.updatedat|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_kwkwiskwkwdeleted.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">是否删除逻辑删除标记</p>

<p id="kwkwiskwkwdeleted_view">
{{record.kwkwiskwkwdeleted|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_likecount.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">点赞数</p>

<p id="likecount_view">
{{record.likecount|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_replytoid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">回复的回复ID用于构建回复链关联字段指向本的ID</p>

<p id="replytoid_view">
{{record.replytoid|safe }}
</p>

</div>
{% endif %}
<div class="modal-footer">
              <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script-footer %}
<script>
  function myreset(){
window.location.href= "/config_busi/commentreplies";
};
if (document.getElementById("modalupdate")){
document.getElementById("modalupdate").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=update_id]").val(_id);
$.ajax({
url: '/config_busi/commentreplies',
method: 'post',
data: {optype:'get',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {

{% if mcauthfield_id.mcauthview %}
$("#id_upd").val(resp.ins.id);
{% endif %}

{% if mcauthfield_commentid.mcauthview %}
$("#commentid_upd").val(resp.ins.commentid);
{% endif %}

{% if mcauthfield_userid.mcauthview %}
$("#userid_upd").val(resp.ins.userid);
{% endif %}

{% if mcauthfield_content.mcauthview %}
$("#content_upd").val(resp.ins.content);
{% endif %}

{% if mcauthfield_createdat.mcauthview %}
$("#createdat_upd").val(resp.ins.createdat);
{% endif %}

{% if mcauthfield_updatedat.mcauthview %}
$("#updatedat_upd").val(resp.ins.updatedat);
{% endif %}

{% if mcauthfield_kwkwiskwkwdeleted.mcauthview %}
$("#kwkwiskwkwdeleted_upd").val(resp.ins.kwkwiskwkwdeleted);
{% endif %}

{% if mcauthfield_likecount.mcauthview %}
$("#likecount_upd").val(resp.ins.likecount);
{% endif %}

{% if mcauthfield_replytoid.mcauthview %}
$("#replytoid_upd").val(resp.ins.replytoid);
{% endif %}

},
error: err => {
},
complete: res => {
},
})
});
};
function upd(_id){
let data = {
optype:'get',
_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value,

{% if mcauthfield_id.mcauthchange %}
id:$("#id_upd]").val(),
{% endif %}

{% if mcauthfield_commentid.mcauthchange %}
commentid:$("#commentid_upd]").val(),
{% endif %}

{% if mcauthfield_userid.mcauthchange %}
userid:$("#userid_upd]").val(),
{% endif %}

{% if mcauthfield_content.mcauthchange %}
content:$("#content_upd]").val(),
{% endif %}

{% if mcauthfield_createdat.mcauthchange %}
createdat:$("#createdat_upd]").val(),
{% endif %}

{% if mcauthfield_updatedat.mcauthchange %}
updatedat:$("#updatedat_upd]").val(),
{% endif %}

{% if mcauthfield_kwkwiskwkwdeleted.mcauthchange %}
kwkwiskwkwdeleted:$("#kwkwiskwkwdeleted_upd]").val(),
{% endif %}

{% if mcauthfield_likecount.mcauthchange %}
likecount:$("#likecount_upd]").val(),
{% endif %}

{% if mcauthfield_replytoid.mcauthchange %}
replytoid:$("#replytoid_upd]").val(),
{% endif %}

}
$.ajax({
url: '/config_busi/commentreplies',
method: 'post',
data: data,
dataType: 'json',
success: resp => {
console.log(resp);
},
error: err => {
},
complete: res => {
},
})
};
if (document.getElementById("modalpreview")) {
document.getElementById("modalpreview").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=update_id]").val(_id);
$.ajax({
url: '/config_busi/commentreplies',
method: 'post',
data: {optype:'get',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {



{% if mcauthfield_id.mcauthview %}
document.getElementById("id_view").innerHTML=resp.ins.id;
{% endif %}




{% if mcauthfield_commentid.mcauthview %}
document.getElementById("commentid_view").innerHTML=resp.ins.commentid;
{% endif %}




{% if mcauthfield_userid.mcauthview %}
document.getElementById("userid_view").innerHTML=resp.ins.userid;
{% endif %}




{% if mcauthfield_content.mcauthview %}
document.getElementById("content_view").innerHTML=resp.ins.content;
{% endif %}




{% if mcauthfield_createdat.mcauthview %}
document.getElementById("createdat_view").innerHTML=resp.ins.createdat;
{% endif %}




{% if mcauthfield_updatedat.mcauthview %}
document.getElementById("updatedat_view").innerHTML=resp.ins.updatedat;
{% endif %}




{% if mcauthfield_kwkwiskwkwdeleted.mcauthview %}
document.getElementById("kwkwiskwkwdeleted_view").innerHTML=resp.ins.kwkwiskwkwdeleted;
{% endif %}




{% if mcauthfield_likecount.mcauthview %}
document.getElementById("likecount_view").innerHTML=resp.ins.likecount;
{% endif %}




{% if mcauthfield_replytoid.mcauthview %}
document.getElementById("replytoid_view").innerHTML=resp.ins.replytoid;
{% endif %}


},
error: err => {
},
complete: res => {
},
})
});
};
if (document.getElementById("modalremove")) {
document.getElementById("modalremove").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=remove]").val(_id);
});
};
function del(_id){
$.ajax({
url: '/config_busi/commentreplies',
method: 'post',
data: {optype:'del',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {
console.log(resp);
},
error: err => {
},
complete: res => {
},
})
};
</script>
{% endblock %}
