{% extends '../tp.html' %}

{% block title %}
部门表
{% endblock %}

{% block body %}
  <div class="my-container-margin">
    <div class="divider"></div>
    {% csrf_token %}
    <div class="section">
      <h4>部门表</h4>
      <div>
        <div class="row">
          
          {% if has_add %}
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalinsert" class="waves-effect waves-light btn">添加</button>
          {% endif %}
          <div class="divider"></div>
        
        
          
<div class="col-sm-10">
</div>
<div class="col-sm-2">
<a href="/config_visual/bi_tpdepartments" target="_blank" class="waves-effect waves-light btn">
统计分析
</a>
</div>
        </div>  
        <div class="section">
          {% if record %}
            <h3>Empty Data</h3>
          {% else %}
          
<div class="row">
<form action="" method="get">





















<div class="col-sm-2">
<button type="submit" class="btn btn-primary" >
<i class="fas fa-search">搜索</i>
</button>
<a type="reset" class="btn btn-default" href="/config_busi/departments">
<i class="fas fa-eraser">重置</i>
</a>
</div>
</form>

          </div>
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  
{% if mcauthfield_departmentid.mcauthview %}
<td>
部门ID
</td>
{% endif %}

{% if mcauthfield_departmentname.mcauthview %}
<td>
部门名称
</td>
{% endif %}

{% if mcauthfield_parentdepartmentid.mcauthview %}
<td>
上级部门ID
</td>
{% endif %}

{% if mcauthfield_departmentcode.mcauthview %}
<td>
部门编码
</td>
{% endif %}

{% if mcauthfield_description.mcauthview %}
<td>
部门描述
</td>
{% endif %}

{% if mcauthfield_createdate.mcauthview %}
<td>
创建日期
</td>
{% endif %}

{% if mcauthfield_createdby.mcauthview %}
<td>
创建人
</td>
{% endif %}

{% if mcauthfield_lkwkwastmodkwkwifieddate.mcauthview %}
<td>
最后修改日期
</td>
{% endif %}

{% if mcauthfield_lkwkwastmodkwkwifiedby.mcauthview %}
<td>
最后修改人
</td>
{% endif %}

{% if mcauthfield_isactive.mcauthview %}
<td>
是否活跃
</td>
{% endif %}
<th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records %}
                  <tr>
                    
 {% if mcauthfield_departmentid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.departmentid}}">
{{record.departmentid}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_departmentname.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.departmentname}}">
{{record.departmentname}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_parentdepartmentid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.parentdepartmentid}}">
{{record.parentdepartmentid}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_departmentcode.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.departmentcode}}">
{{record.departmentcode}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_description.mcauthview %}
<td class="text-nowrap-cell">

{% if record.description %}
{{record.description.name}}
<p title="{{record.description}}">
{{record.description|truncatechars:20}}
</p>
{% endif %}

</td>
{% endif %}
 
 {% if mcauthfield_createdate.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.createdate}}">
{{record.createdate}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_createdby.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.createdby}}">
{{record.createdby}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_lkwkwastmodkwkwifieddate.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.lkwkwastmodkwkwifieddate}}">
{{record.lkwkwastmodkwkwifieddate}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_lkwkwastmodkwkwifiedby.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.lkwkwastmodkwkwifiedby}}">
{{record.lkwkwastmodkwkwifiedby}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_isactive.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.isactive}}">
{{record.isactive}}
</p>

</td>
{% endif %}
 <td>
                      {% if has_upd %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalupdate">修改</button>
                      {% endif %}
                      {% if has_del %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalremove">删除</button>
                      {% endif %}
                      {% if has_view %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalpreview">查看</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block modal %}
  <!-- Modal Structure -->

  {% if has_add %}
    <div id="modalinsert" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">
              <h4>添加</h4>
            </div>
          </div>
          <div class="modal-body">
            <div class="">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="add" hidden />{% csrf_token %}<div class="">
        {% if mcauthfield_departmentid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="departmentid" class="form-label form-group">部门ID</label>

</div>
        {% endif %}

        {% if mcauthfield_departmentname.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="departmentname" class="form-label form-group">部门名称</label>

<input type="text" class="form-control form-control-lg" name="departmentname" id="departmentname"{% if not mcauthfield_departmentname.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_parentdepartmentid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="parentdepartmentid" class="form-label form-group">上级部门ID</label>

</div>
        {% endif %}

        {% if mcauthfield_departmentcode.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="departmentcode" class="form-label form-group">部门编码</label>

<input type="text" class="form-control form-control-lg" name="departmentcode" id="departmentcode"{% if not mcauthfield_departmentcode.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_description.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="description" class="form-label form-group">部门描述</label>

<textarea class="form-control form-control-lg" name="description" id="description" {% if not mcauthfield_description.mcisblank %}required {% endif %}data-name="insert"></textarea>

</div>
        {% endif %}

        {% if mcauthfield_createdate.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="createdate" class="form-label form-group">创建日期</label>

<input type="date" class="form-control form-control-lg" name="createdate" id="createdate" {% if not mcauthfield_createdate.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_createdby.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="createdby" class="form-label form-group">创建人</label>

<input type="text" class="form-control form-control-lg" name="createdby" id="createdby"{% if not mcauthfield_createdby.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_lkwkwastmodkwkwifieddate.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="lkwkwastmodkwkwifieddate" class="form-label form-group">最后修改日期</label>

<input type="date" class="form-control form-control-lg" name="lkwkwastmodkwkwifieddate" id="lkwkwastmodkwkwifieddate" {% if not mcauthfield_lkwkwastmodkwkwifieddate.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_lkwkwastmodkwkwifiedby.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="lkwkwastmodkwkwifiedby" class="form-label form-group">最后修改人</label>

<input type="text" class="form-control form-control-lg" name="lkwkwastmodkwkwifiedby" id="lkwkwastmodkwkwifiedby"{% if not mcauthfield_lkwkwastmodkwkwifiedby.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_isactive.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="isactive" class="form-label form-group">是否活跃</label>

<select class="form-select form-select-lg mb-3" name="isactive" id="isactive" {% if not mcauthfield_isactive.mcisblank %}required {% endif %} data-name="insert">
<option value="True" selected >是</option>
<option value="False">否</option>
</select>

</div>
        {% endif %}
</div>
                <div class="modal-footer">
                  <button type="submit" class="modal-action modal-close btn-primary btn waves-effect waves-light">提交</button>
                  <button type="reset" class="modal-action modal-close btn-default btn waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_upd %}
    <div id="modalupdate" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">修改</div>
          </div>
          <div class="modal-body">
            <div class="">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="upd" hidden />{% csrf_token %}<input type="text" name="_id_upd" value="" data-name="update_id" hidden />
                <div class="">
           {% if mcauthfield_departmentid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="departmentid_upd"
class="form-label form-group">
部门ID(departmentid)
</label>

</div>
        {% endif %}

           {% if mcauthfield_departmentname.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="departmentname_upd"
class="form-label form-group">
部门名称(departmentname)
</label>

<input type="text" class="validate form-control form-control-lg"
name="departmentname"
id="departmentname_upd"
placeholder="部门名称"
{% if not mcauthfield_departmentname.mcisblank %}
required
{% endif %}
{% if not mcauthfield_departmentname.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_parentdepartmentid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="parentdepartmentid_upd"
class="form-label form-group">
上级部门ID(parentdepartmentid)
</label>

</div>
        {% endif %}

           {% if mcauthfield_departmentcode.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="departmentcode_upd"
class="form-label form-group">
部门编码(departmentcode)
</label>

<input type="text" class="validate form-control form-control-lg"
name="departmentcode"
id="departmentcode_upd"
placeholder="部门编码"
{% if not mcauthfield_departmentcode.mcisblank %}
required
{% endif %}
{% if not mcauthfield_departmentcode.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_description.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="description_upd"
class="form-label form-group">
部门描述(description)
</label>

<textarea type="text" class="validate form-control form-control-lg"
name="description"
id="description_upd"
placeholder="部门描述"
{% if not mcauthfield_description.mcisblank %}
required
{% endif %}
{% if not mcauthfield_description.mcauthchange %}
readonly
{% endif %}
data-name="update"></textarea>

</div>
        {% endif %}

           {% if mcauthfield_createdate.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="createdate_upd"
class="form-label form-group">
创建日期(createdate)
</label>

<input type="date" class="validate form-control form-control-lg"
name="createdate"
id="createdate_upd"
placeholder="创建日期"
{% if not mcauthfield_createdate.mcisblank %}
required
{% endif %}
{% if not mcauthfield_createdate.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_createdby.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="createdby_upd"
class="form-label form-group">
创建人(createdby)
</label>

<input type="text" class="validate form-control form-control-lg"
name="createdby"
id="createdby_upd"
placeholder="创建人"
{% if not mcauthfield_createdby.mcisblank %}
required
{% endif %}
{% if not mcauthfield_createdby.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_lkwkwastmodkwkwifieddate.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="lkwkwastmodkwkwifieddate_upd"
class="form-label form-group">
最后修改日期(lkwkwastmodkwkwifieddate)
</label>

<input type="date" class="validate form-control form-control-lg"
name="lkwkwastmodkwkwifieddate"
id="lkwkwastmodkwkwifieddate_upd"
placeholder="最后修改日期"
{% if not mcauthfield_lkwkwastmodkwkwifieddate.mcisblank %}
required
{% endif %}
{% if not mcauthfield_lkwkwastmodkwkwifieddate.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_lkwkwastmodkwkwifiedby.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="lkwkwastmodkwkwifiedby_upd"
class="form-label form-group">
最后修改人(lkwkwastmodkwkwifiedby)
</label>

<input type="text" class="validate form-control form-control-lg"
name="lkwkwastmodkwkwifiedby"
id="lkwkwastmodkwkwifiedby_upd"
placeholder="最后修改人"
{% if not mcauthfield_lkwkwastmodkwkwifiedby.mcisblank %}
required
{% endif %}
{% if not mcauthfield_lkwkwastmodkwkwifiedby.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_isactive.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="isactive_upd"
class="form-label form-group">
是否活跃(isactive)
</label>

<select class="form-select form-select-lg mb-3" name="isactive"
id="isactive_upd"
{% if not mcauthfield_isactive.mcisblank %}
required
{% endif %}
{% if not mcauthfield_isactive.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="True" selected>是</option>
<option value="False">否</option>
</select>

</div>
        {% endif %}
</div>
                <div class="modal-footer">
                  <button type="submit" class="btn modal-action modal-close btn-primary waves-effect waves-light">提交</button>
                  <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_del %}
    <div id="modalremove" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">删除</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>确认删除这条记录吗?</p>
          </div>
          <div class="modal-footer">
            <div class="row">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="del" hidden />{% csrf_token %}<input type="text" name="_id" value="" data-name="remove" hidden />

                <div class="modal-footer">
                  <button type="submit" class="btn modal-action modal-close btn-primary waves-effect waves-light">确认</button>
                  <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_view %}
    <div id="modalpreview" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <h4>预览</h4>
          <div class="">
            
{% if mcauthfield_departmentid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">部门ID</p>

<p id="departmentid_view">
{{record.departmentid|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_departmentname.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">部门名称</p>

<p id="departmentname_view">
{{record.departmentname|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_parentdepartmentid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">上级部门ID</p>

<p id="parentdepartmentid_view">
{{record.parentdepartmentid|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_departmentcode.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">部门编码</p>

<p id="departmentcode_view">
{{record.departmentcode|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_description.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">部门描述</p>

<p id="description_view">
{{record.description|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_createdate.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">创建日期</p>

<p id="createdate_view">
{{record.createdate|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_createdby.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">创建人</p>

<p id="createdby_view">
{{record.createdby|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_lkwkwastmodkwkwifieddate.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">最后修改日期</p>

<p id="lkwkwastmodkwkwifieddate_view">
{{record.lkwkwastmodkwkwifieddate|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_lkwkwastmodkwkwifiedby.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">最后修改人</p>

<p id="lkwkwastmodkwkwifiedby_view">
{{record.lkwkwastmodkwkwifiedby|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_isactive.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">是否活跃</p>

<p id="isactive_view">
{{record.isactive|safe }}
</p>

</div>
{% endif %}
<div class="modal-footer">
              <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script-footer %}
<script>
  function myreset(){
window.location.href= "/config_busi/departments";
};
if (document.getElementById("modalupdate")){
document.getElementById("modalupdate").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=update_id]").val(_id);
$.ajax({
url: '/config_busi/departments',
method: 'post',
data: {optype:'get',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {

{% if mcauthfield_departmentid.mcauthview %}
$("#departmentid_upd").val(resp.ins.departmentid);
{% endif %}

{% if mcauthfield_departmentname.mcauthview %}
$("#departmentname_upd").val(resp.ins.departmentname);
{% endif %}

{% if mcauthfield_parentdepartmentid.mcauthview %}
$("#parentdepartmentid_upd").val(resp.ins.parentdepartmentid);
{% endif %}

{% if mcauthfield_departmentcode.mcauthview %}
$("#departmentcode_upd").val(resp.ins.departmentcode);
{% endif %}

{% if mcauthfield_description.mcauthview %}
$("#description_upd").val(resp.ins.description);
{% endif %}

{% if mcauthfield_createdate.mcauthview %}
$("#createdate_upd").val(resp.ins.createdate);
{% endif %}

{% if mcauthfield_createdby.mcauthview %}
$("#createdby_upd").val(resp.ins.createdby);
{% endif %}

{% if mcauthfield_lkwkwastmodkwkwifieddate.mcauthview %}
$("#lkwkwastmodkwkwifieddate_upd").val(resp.ins.lkwkwastmodkwkwifieddate);
{% endif %}

{% if mcauthfield_lkwkwastmodkwkwifiedby.mcauthview %}
$("#lkwkwastmodkwkwifiedby_upd").val(resp.ins.lkwkwastmodkwkwifiedby);
{% endif %}

{% if mcauthfield_isactive.mcauthview %}
$("#isactive_upd").val(resp.ins.isactive);
{% endif %}

},
error: err => {
},
complete: res => {
},
})
});
};
function upd(_id){
let data = {
optype:'get',
_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value,

{% if mcauthfield_departmentid.mcauthchange %}
departmentid:$("#departmentid_upd]").val(),
{% endif %}

{% if mcauthfield_departmentname.mcauthchange %}
departmentname:$("#departmentname_upd]").val(),
{% endif %}

{% if mcauthfield_parentdepartmentid.mcauthchange %}
parentdepartmentid:$("#parentdepartmentid_upd]").val(),
{% endif %}

{% if mcauthfield_departmentcode.mcauthchange %}
departmentcode:$("#departmentcode_upd]").val(),
{% endif %}

{% if mcauthfield_description.mcauthchange %}
description:$("#description_upd]").val(),
{% endif %}

{% if mcauthfield_createdate.mcauthchange %}
createdate:$("#createdate_upd]").val(),
{% endif %}

{% if mcauthfield_createdby.mcauthchange %}
createdby:$("#createdby_upd]").val(),
{% endif %}

{% if mcauthfield_lkwkwastmodkwkwifieddate.mcauthchange %}
lkwkwastmodkwkwifieddate:$("#lkwkwastmodkwkwifieddate_upd]").val(),
{% endif %}

{% if mcauthfield_lkwkwastmodkwkwifiedby.mcauthchange %}
lkwkwastmodkwkwifiedby:$("#lkwkwastmodkwkwifiedby_upd]").val(),
{% endif %}

{% if mcauthfield_isactive.mcauthchange %}
isactive:$("#isactive_upd]").val(),
{% endif %}

}
$.ajax({
url: '/config_busi/departments',
method: 'post',
data: data,
dataType: 'json',
success: resp => {
console.log(resp);
},
error: err => {
},
complete: res => {
},
})
};
if (document.getElementById("modalpreview")) {
document.getElementById("modalpreview").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=update_id]").val(_id);
$.ajax({
url: '/config_busi/departments',
method: 'post',
data: {optype:'get',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {



{% if mcauthfield_departmentid.mcauthview %}
document.getElementById("departmentid_view").innerHTML=resp.ins.departmentid;
{% endif %}




{% if mcauthfield_departmentname.mcauthview %}
document.getElementById("departmentname_view").innerHTML=resp.ins.departmentname;
{% endif %}




{% if mcauthfield_parentdepartmentid.mcauthview %}
document.getElementById("parentdepartmentid_view").innerHTML=resp.ins.parentdepartmentid;
{% endif %}




{% if mcauthfield_departmentcode.mcauthview %}
document.getElementById("departmentcode_view").innerHTML=resp.ins.departmentcode;
{% endif %}




{% if mcauthfield_description.mcauthview %}
document.getElementById("description_view").innerHTML=resp.ins.description;
{% endif %}




{% if mcauthfield_createdate.mcauthview %}
document.getElementById("createdate_view").innerHTML=resp.ins.createdate;
{% endif %}




{% if mcauthfield_createdby.mcauthview %}
document.getElementById("createdby_view").innerHTML=resp.ins.createdby;
{% endif %}




{% if mcauthfield_lkwkwastmodkwkwifieddate.mcauthview %}
document.getElementById("lkwkwastmodkwkwifieddate_view").innerHTML=resp.ins.lkwkwastmodkwkwifieddate;
{% endif %}




{% if mcauthfield_lkwkwastmodkwkwifiedby.mcauthview %}
document.getElementById("lkwkwastmodkwkwifiedby_view").innerHTML=resp.ins.lkwkwastmodkwkwifiedby;
{% endif %}




{% if mcauthfield_isactive.mcauthview %}
document.getElementById("isactive_view").innerHTML=resp.ins.isactive;
{% endif %}


},
error: err => {
},
complete: res => {
},
})
});
};
if (document.getElementById("modalremove")) {
document.getElementById("modalremove").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=remove]").val(_id);
});
};
function del(_id){
$.ajax({
url: '/config_busi/departments',
method: 'post',
data: {optype:'del',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {
console.log(resp);
},
error: err => {
},
complete: res => {
},
})
};
</script>
{% endblock %}
