<style>.default-echart-border{
    color: #b8bdde;
    border-color: #03031d;
    font-size: 0.7rem;
    font-weight: 300;
    font-style: italic;
    border: 1px solid rgba(54, 162, 235, 1);
    margin: 0;
    border-radius: 0;
    box-shadow: 0px rgba(153, 102, 255, 1);
    padding: 1px;
    background-color: #efd7df;
}.btn{
    color: #eee3a2;
    border-color: #320610;
    font-size: 2rem;
    font-weight: 800;
    font-style: normal;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 1px;
    border-radius: 1px;
    box-shadow: 2px rgba(255, 159, 64, 1);
    padding: 3px;
    background-color: #daf7b3;
}.my-header{
    color: black;
    border-color: #0f213c;
    font-size: 1.4rem;
    font-weight: 200;
    font-style: normal;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 12px;
    border-radius: 1px;
    box-shadow: 3px rgba(255, 206, 86, 1);
    padding: 4px;
    background-color: white;
}.my-container-margin{
    color: #9c9adb;
    border-color: #4e0637;
    font-size: 2.1rem;
    font-weight: 800;
    font-style: italic;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 5px;
    border-radius: 12px;
    box-shadow: 1px rgba(75, 192, 192, 1);
    padding: 3px;
    background-color: #abee93;
}.table{
    color: #ab9299;
    border-color: #393c4a;
    font-size: 2rem;
    font-weight: 900;
    font-style: oblique;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 2px;
    border-radius: 3px;
    box-shadow: 2px rgba(75, 192, 192, 1);
    padding: 1px;
    background-color: #97b2c7;
}.form-control{
    color: #f9e4c8;
    border-color: #4b1725;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 3px;
    border-radius: 5px;
    box-shadow: 1px rgba(255, 159, 64, 1);
    padding: 2px;
    background-color: #9ce4eb;
}.form-control-label{
    color: #bef2b0;
    border-color: #011043;
    font-size: 2.2rem;
    font-weight: 800;
    font-style: oblique;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 0;
    border-radius: 8px;
    box-shadow: 3px rgba(255, 159, 64, 1);
    padding: 2px;
    background-color: #d2e991;
}.form-control-input{
    color: #e7e8cc;
    border-color: #1b2e22;
    font-size: 2.1rem;
    font-weight: 100;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 10px;
    border-radius: 11px;
    box-shadow: 2px rgba(255, 99, 132, 1);
    padding: 4px;
    background-color: #bff5c2;
}</style>