<style>.default-echart-border{
    color: #c6a7e9;
    border-color: #28251f;
    font-size: 0.7rem;
    font-weight: 100;
    font-style: oblique;
    border: 1px solid rgba(54, 162, 235, 1);
    margin: 11px;
    border-radius: 12px;
    box-shadow: 1px rgba(54, 162, 235, 1);
    padding: 4px;
    background-color: #ebe1ba;
}.btn{
    color: #d498eb;
    border-color: #1f4e1b;
    font-size: 1rem;
    font-weight: 500;
    font-style: oblique;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 1px;
    border-radius: 5px;
    box-shadow: 3px rgba(255, 99, 132, 1);
    padding: 1px;
    background-color: #f19feb;
}.my-header{
    color: black;
    border-color: #070a27;
    font-size: 2rem;
    font-weight: 100;
    font-style: normal;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px rgba(153, 102, 255, 1);
    padding: 0;
    background-color: white;
}.my-container-margin{
    color: #bbdb97;
    border-color: #400d3d;
    font-size: 1.5rem;
    font-weight: 200;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 2px;
    border-radius: 12px;
    box-shadow: 3px rgba(75, 192, 192, 1);
    padding: 3px;
    background-color: #e7f6cd;
}.table{
    color: #e0aec7;
    border-color: #2d2c0b;
    font-size: 1.8rem;
    font-weight: 500;
    font-style: normal;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 12px;
    border-radius: 0;
    box-shadow: 0px rgba(54, 162, 235, 1);
    padding: 0;
    background-color: #d8a8eb;
}.form-control{
    color: #bc97ed;
    border-color: #1b0731;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 4px;
    border-radius: 6px;
    box-shadow: 2px rgba(75, 192, 192, 1);
    padding: 0;
    background-color: #d9ca9b;
}.form-control-label{
    color: #c6efc3;
    border-color: #45324d;
    font-size: 2.3rem;
    font-weight: 100;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 7px;
    border-radius: 11px;
    box-shadow: 0px rgba(255, 206, 86, 1);
    padding: 1px;
    background-color: #e1aba0;
}.form-control-input{
    color: #ddd2df;
    border-color: #0c4247;
    font-size: 2rem;
    font-weight: 100;
    font-style: oblique;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 12px;
    border-radius: 7px;
    box-shadow: 2px rgba(255, 159, 64, 1);
    padding: 1px;
    background-color: #a8bbae;
}</style>